.line {
    margin: 0 auto;
    padding: 0 15px;
}
.block {
    float: right;
    width: 100%;
    position: relative;
}
.bleft, .bright {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    .bleft {
        height: 100%;
    }
}
@mixin grids_mi1 {
    .line {
        width: 750px;
    }
}
@mixin grids_mi2 {
    .line {
        width: 970px;
    }
    .bright {
        float: left;
        width: 58.33333333%;
    }
    .bleft {
        float: left;
        width: 33.33333333%;
    }
}
@mixin grids_mi3 {
    .line {
        width: 1170px;
    }
}
