// Mixins
@mixin br_cross($deg) {
    // border-radius cross browser
    -webkit-border-radius: $deg;
    -moz-border-radius: $deg;
    -ms-border-radius: $deg;
    border-radius: $deg;
}
@mixin animation_ef_cross($time,$type) {
    // border-radius cross browser
    -webkit-transition: $time $type all;
    -moz-transition: $time $type all;
    -ms-transition: $time $type all;
    transition: $time $type all;
}
