* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #0067a5 url("../images/1.jpg") top center no-repeat;
  background-size: cover;
}

.main {
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  transform: translateY(-50%);
}

.user {
  width: 300px;
  margin: 0 auto;
  position: relative;
  border: 10px solid #dbe1e7;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  overflow: hidden;
}

.user:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.user img {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
}

.say {
  margin-top: 50px;
  text-align: center;
  color: #fff;
  font: 400 30px/140% "Segoe UI", "arial";
}

@media (orientation: portrait) {
  body {
    background-size: auto 100%;
  }
}
